body{
    /* background-image: url(src/Group\ 14.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    line-height: 1;
}
.main-screen{
    background-color: #E2DBD4;
    padding-left: 200px;
    padding-right: 200px;   
}

.main-cap{
    padding: 20px 100px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo-span{
    color: #2C1039;
    font-size: 30px;
}

.ul-sections{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.ul-sections>li{
    margin-left: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.ul-sections>li:first-child:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #481B68;
    background-image: url(src/treetochki.svg);
    background-size: cover;
    flex: 1 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.div-phone{
    margin-left: 30;
    display: flex;
    align-items: center;
}

.div-phone>span{
    font-size: 15px;
    white-space: nowrap;
}

.button-phone{
    margin-left: 20px;
    border-radius: 30px;
    background-color:#E2DBD4;
    border: 2px solid #481B68;
    padding: 15px;
    font-size: 13px;
    color: #481B68;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.button-phone::before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #481B68;
    background-image: url(src/🦆\ icon\ _phone_.svg);
    background-size: cover;
    flex: 1 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.content-main{
    margin-top: 30px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.info{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.info>h1{
    font-size: 40px;
    color: #481B68;
}

.info>h2{
    margin-top: 40px;
    font-size: 16px;
    color: #481B68;
}

.info>button{
    margin-top: 40px;
    width: 250px;
    align-content: start;
    border-radius: 30px;
    background-color:#481B68;
    color: white;
    padding: 20px;
    font-size: 13px;
}

.info>h3{
    font-size: 15px;
    margin-top: auto;
    margin-bottom: 30px;
}

.image-main-middle{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 40px;
    width: 700px;
    height: 700px;
}

.image-main-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    height: 600px;
    object-fit: cover;
}

.section1-div{
    height: 1200px;
    background-color:#2C1039;
}